@tailwind base;
@tailwind components;
@tailwind utilities;


.screenheight {
  min-height: calc(100vh - 7rem);
}

.invert-bg {
  background: radial-gradient(110% 110% at 50% 10%,#63e 1%,#000 70%);
}

@media screen and (max-width: 720px){
  .collapsenav{
    flex-direction: column; 
    ;    
  }
}
@media screen and (max-width: 432px){
  .fixw{
    width: 2.75rem;
  }
}